.event-form {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

button:hover {
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 700px;
  width: 95%;
  border-radius: 6px;
  padding: 30px 0;
  margin: 0 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container header {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.container form {
  position: relative;
  min-height: 350px;
  background-color: #fff;
}

.container span {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0;
  color: #333;
  opacity: 0.6;
}

.container .detail {
  margin-top: 10px;
}

.container form .field {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .field .input-field {
  display: flex;
  width: calc(100% / 2 - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.input-field label {
  /* font-size: 12px; */
  font-weight: 500;
  color: #2e2e2e;
}

input {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

input:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.submit input {
  width: 150px;
  font-weight: 500;
  margin-top: 6px 0;
  background-color: #070707;
  color: #fff;
}

.submit input:hover {
  background-color: #fff;
  color: #070707;
  cursor: pointer;
}

@media (max-width: 650px) {
  form .field .input-field {
    display: flex;
    width: calc(100% - 15px);
  }
}

.form-submit-show {
  background-color: #ccfbf1;
  color: black;
  border: 1px solid #14b8a6;
  max-width: 700px;
  width: 95%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 0rem;
  border-radius: 5px;
}

.form-submit-error {
  background-color: #fee2e2;
  color: black;
  border: 1px solid #ef4444;
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 0;
  border-radius: 5px;
}
